.container
  %header.header
    .header__logo
      %a(href="/")
        SAGASITASU
    %ul.header__nav
      %li.header__item
        %a.header__link(href="https://www.google.com/") トップ
      %li.header__item
        %a.header__link(href="https://www.google.com/") 導入事例
      %li.header__item
        %a.header__link(href="https://www.google.com/") 機能と料金
      %li.header__item
        %a.header__link(href="https://www.google.com/") 活用方法
      %li.header__item
        %a.header__link(href="https://www.google.com/") ブログ
      %li.header__item
        %a.header__link(href="https://www.google.com/") ログイン
      %li.header__item.header__item-try
        %a.header__link.header__link-try(href="https://www.google.com/") 無料トライアル
  %section.hero
    %h1.hero__header-one
      Maximize your revenue
    %h2.hero__header-two
      人工知能を活用し、ビッグデータを分析、可視化し企業の経営や営業、マーケティングの意思決定をサポート
    .hero__buttons
      %button.main-btn
        無料トライアルを試してみる →
      %button.main-btn
        60秒でわかるディープバンク →
  %section.explore__usecases.usecases
    %h1.header__type-one.margin-top-md
      Capabilities
    %ul.usecases__paginator.verticals__menu
      %li.selected
        %a(href="#")業界・市場分析
      %li
        %a(href="#")競合分析
      %li
        %a(href="#")知識のダウンロード
      %li
        %a(href="#")ブランド認知分析
    .usecases__content
      .usecases__items
        .usecases__item.usecases__one
          %h2
            業界・市場分析
          %p
            サイズ、成長、満たされていないニーズ、トップ投資と障壁を表示する市場の鳥瞰図。
            新しいテクノロジーやIP環境を一目で把握し、あらゆる業界を素早くインサイト化します。
            %br ポイント①収録コンテンツ
            表で表す
            %br 業界分類560業界
            世界200カ国上場・未上場企業500万社
            統計データ10万系統
            世界のM&A情報150万件
            ニュース日本語140媒体以上、英語2,000媒体以上
            特許情報
            法律情報
            %br 企業データ世界200カ国500万社だから調査すべき対象を的確に選定できる
            誰に聞けばほしい答えが見つかるのか分からない、ほかでは取り扱いがないようなニッチな業界でも、AIバンクの膨大な企業情報から的確なターゲットを抽出することができます。

      .usecases__laptop
        %img(src="../images/laptop.png" alt="laptop")/
      .usescases__screen
  %section.explore__under-the-hood.under-the-hood
    %h1.header__type-one.margin-top-md.margin-bottom-md
      Under the hood
    .explore__under-the-hood-content
      .explore__under-the-hood-column
        %img(src="images/under-the-hood-1.png" alt="1")
        %h3.explore__header-three
          Natural Language
        %p
          Sagasitasu ingests the ideas and opinions expressed in written language to find patterns and commonalities across a billion documents.
      .explore__under-the-hood-column
        %img(src="images/under-the-hood-2.png" alt="2")
        %h3.explore__header-three
          Complex Data Sets
        %p
          Sagasitasu calculates, collects and stores datasets for patents, companies and over 300k news and blog sources—plus any other data you wish to add.
      .explore__under-the-hood-column
        %img(src="images/under-the-hood-3.png" alt="3")
        %h3.explore__header-three
          Intuitive Interface
        %p
          Manipulate, explore and interact with data how you want to. The Sagasitasu visualization tool makes data easy to understand and interpret—no technical experience necessary.
    .margin-bottom-lg
  %section.contact-form
    .bg_el.bg-el-left
      %img(src="images/contact-background-one_left.gif" alt="")
    .contact-form__content-cta
      %h1.header-one.margin-top-md.margin-bottom-md
        See your Search Come to Life
      %p.margin-bottom-md
        Take Sagasitasu&nbsp;for a guided test drive, personalized to your needs.
      %button.button.button-two
        Get Started
    .bg_el.bg-el-right
      %img(src="images/contact-background-one_right.gif" alt="")
  %footer.footer
    %ul.footer__links
      %li.footer__link-terms
        %a.link(href="/terms-and-conditions") Terms of Service
      %li
        %a.link(href="/privacy-policy") Privacy Policy
      %li
        %a.link(href="/job-openings") Job Openings
      %li
        %a.link(href="mailto:general@sergeimeza.com") general@sergeimeza.com
					
					
-# 				<ul class="footer__social">
-# 					<li class="footer__social-twitter" data-ga-category="Footer" data-ga-label="Twitter">
-# 						<a href="https://twitter.com/Quid" target="_blank">
-# 							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
-# 								<path fill="#444444" d="M32 6.076c-1.177 0.522-2.443 0.875-3.771 1.034 1.355-0.813 2.396-2.099 2.887-3.632-1.269 0.752-2.674 1.299-4.169 1.593-1.198-1.276-2.904-2.073-4.792-2.073-3.626 0-6.565 2.939-6.565 6.565 0 0.515 0.058 1.016 0.17 1.496-5.456-0.274-10.294-2.888-13.532-6.86-0.565 0.97-0.889 2.097-0.889 3.301 0 2.278 1.159 4.287 2.921 5.465-1.076-0.034-2.088-0.329-2.974-0.821-0.001 0.027-0.001 0.055-0.001 0.083 0 3.181 2.263 5.834 5.266 6.437-0.551 0.15-1.131 0.23-1.73 0.23-0.423 0-0.834-0.041-1.235-0.118 0.835 2.608 3.26 4.506 6.133 4.559-2.247 1.761-5.078 2.81-8.154 2.81-0.53 0-1.052-0.031-1.566-0.092 2.905 1.863 6.356 2.95 10.064 2.95 12.076 0 18.679-10.004 18.679-18.68 0-0.285-0.006-0.568-0.019-0.849 1.283-0.926 2.396-2.082 3.276-3.398z"></path>
-# 							</svg>
-# 						</a>
-# 					</li>
-# 					<li class="footer__social-facebook" data-ga-category="Footer" data-ga-label="Facebook">
-# 						<a href="https://www.facebook.com/Quid.Inc" target="_blank">
-# 							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
-# 								<path fill="#444444" d="M21 6c-2.761 0-5 2.239-5 5v3h-4v4h4v14h4v-14h4.5l1-4h-5.5v-3c0-0.552 0.448-1 1-1h5v-4h-5z"></path>
-# 							</svg>
-# 						</a>
-# 					</li>
-# 					<li class="footer__social-linkedin" data-ga-category="Footer" data-ga-label="Linkedin">
-# 						<a href="https://www.linkedin.com/company/quid_2" target="_blank">
-# 							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
-# 								<path fill="#444444" d="M12 12h5.535v2.837h0.079c0.77-1.381 2.655-2.837 5.464-2.837 5.842 0 6.922 3.637 6.922 8.367v9.633h-5.769v-8.54c0-2.037-0.042-4.657-3.001-4.657-3.005 0-3.463 2.218-3.463 4.509v8.688h-5.767v-18z"></path>
-# 								<path fill="#444444" d="M2 12h6v18h-6v-18z"></path>
-# 								<path fill="#444444" d="M8 7c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-1.657 1.343-3 3-3s3 1.343 3 3z"></path>
-# 							</svg>
-# 						</a>
-# 					</li>
-# 					<li class="footer__social-youtube" data-ga-category="Footer" data-ga-label="Youtube">
-# 						<a href="https://www.youtube.com/channel/UCAbYCcJmeSEazVTqIBClIWw" target="_blank">

-# 								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 25.66 25.1"><path fill="#444444" d="M21.65,19.34a0.52,0.52,0,0,0-.44.18,1,1,0,0,0-.13.58v0.66h1.15V20.1a1,1,0,0,0-.14-0.58A0.5,0.5,0,0,0,21.65,19.34Z" transform="translate(-1.96 -2.45)"></path><path d="M17.18,19.32a0.65,0.65,0,0,0-.28.06,1,1,0,0,0-.27.2v4a1.14,1.14,0,0,0,.31.23,0.75,0.75,0,0,0,.31.07,0.42,0.42,0,0,0,.35-0.14,0.72,0.72,0,0,0,.11-0.45V20a0.77,0.77,0,0,0-.14-0.5A0.5,0.5,0,0,0,17.18,19.32Z" transform="translate(-1.96 -2.45)"></path><path fill="#444444" d="M22.93,14.4H6.64A4.69,4.69,0,0,0,2,19.09v3.77a4.69,4.69,0,0,0,4.69,4.69H22.93a4.69,4.69,0,0,0,4.69-4.69V19.09A4.69,4.69,0,0,0,22.93,14.4ZM10.07,17.34H8.55v7.52H7.09V17.34H5.58V16.06h4.49v1.28Zm4.28,7.52H13V24.15a2.76,2.76,0,0,1-.75.6,1.57,1.57,0,0,1-.75.21,0.81,0.81,0,0,1-.68-0.29,1.4,1.4,0,0,1-.23-0.87V18.37h1.3v5a0.55,0.55,0,0,0,.08.33,0.32,0.32,0,0,0,.27.1,0.73,0.73,0,0,0,.36-0.13A1.79,1.79,0,0,0,13,23.3V18.37h1.3v6.5Zm4.71-1.34a1.61,1.61,0,0,1-.31,1.06,1.08,1.08,0,0,1-.88.37,1.54,1.54,0,0,1-.68-0.14,1.66,1.66,0,0,1-.56-0.44v0.5H15.32v-8.8h1.31v2.83a2.06,2.06,0,0,1,.56-0.45,1.28,1.28,0,0,1,.6-0.15,1.12,1.12,0,0,1,.94.41,1.94,1.94,0,0,1,.32,1.21v3.61Zm4.5-1.75H21.07V23a1.42,1.42,0,0,0,.13.71,0.49,0.49,0,0,0,.44.2,0.54,0.54,0,0,0,.45-0.17A1.41,1.41,0,0,0,22.22,23V22.7h1.34V23a2.08,2.08,0,0,1-.49,1.51,1.94,1.94,0,0,1-1.46.5,1.78,1.78,0,0,1-1.37-.54,2.07,2.07,0,0,1-.5-1.47V20.11a1.83,1.83,0,0,1,.55-1.38,2,2,0,0,1,1.42-.53,1.82,1.82,0,0,1,1.37.49,2,2,0,0,1,.48,1.42v1.66Z" transform="translate(-1.96 -2.45)"></path><path fill="#444444" d="M17.88,5h1.46v5.48a0.59,0.59,0,0,0,.09.37,0.36,0.36,0,0,0,.3.11,0.85,0.85,0,0,0,.41-0.15,2,2,0,0,0,.45-0.38V5h1.46v7.15H20.59V11.36a3.09,3.09,0,0,1-.84.67,1.85,1.85,0,0,1-.85.23,0.92,0.92,0,0,1-.76-0.32,1.5,1.5,0,0,1-.26-1V5Z" transform="translate(-1.96 -2.45)"></path><polygon fill="#444444" points="6.52 0 7.58 3.88 7.69 3.88 8.71 0 10.38 0 8.46 5.68 8.46 9.7 6.82 9.7 6.82 5.86 4.86 0 6.52 0"></polygon><path fill="#444444" d="M16.12,5.33a2.15,2.15,0,0,0-1.49-.52A2.4,2.4,0,0,0,13,5.31a1.64,1.64,0,0,0-.59,1.32v3.71A1.9,1.9,0,0,0,13,11.79a2.15,2.15,0,0,0,1.53.54,2.23,2.23,0,0,0,1.57-.52,1.87,1.87,0,0,0,.57-1.44V6.67A1.72,1.72,0,0,0,16.12,5.33Zm-0.91,5.14a0.59,0.59,0,0,1-.18.45,0.66,0.66,0,0,1-.47.16,0.58,0.58,0,0,1-.44-0.16A0.62,0.62,0,0,1,14,10.47V6.58a0.49,0.49,0,0,1,.17-0.38,0.65,0.65,0,0,1,.44-0.14A0.73,0.73,0,0,1,15,6.2a0.47,0.47,0,0,1,.18.38v3.9Z" transform="translate(-1.96 -2.45)"></path></svg>

-# 						</a>
-# 					</li>



-# 				</ul>
-# 			</div>
-# 			<p class="footer__copy-right">© 2018 Quid, Inc. All Rights Reserved.</p>
-# 			<p class="footer__trademark">® 2018 Quid is a registered trademark of Quid, Inc.</p>
-# 		</footer>